<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link  rel="stylesheet" href="style.css">
    <style>
      body {
  overflow-x: hidden;
}

.menu {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  /* background-color: #333; */
  color: #fff;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  cursor: pointer;
  z-index: 9999;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: #f1f1f1;
  transition: right 0.3s ease-in-out;
}

.sidebar.active {
  right: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  padding: 10px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
}

.content {
  margin-right: 250px;
  padding: 20px;
}
    </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a href="home.html">
        <img class="logo" src="depositphotos_646894578-stock-illustration-money-tracking-icon-payment-icon.jpg">
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="home.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Friends</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Report</a>
          </li>
        </ul>
        <span class="navbar-text">
          <a href="profile.html">
            <img class="first" src="person-circle.svg" name="profile">
            </a>
            <img class="second" src="moon.svg">
            <img class="third" src="bell.svg">
            <div class="menu" onclick="toggleSidebar()">
            <img class="fourth" src="list.svg" >
            </div>
            <div class="sidebar" id="sidebar">
              <ul>
                <li><a href="#"></a></li>
               
                <hr style="height:3px;color: black;">
                <li><a href="recurringbills">Recurring Bills</a></li>
                <li><a href="">Create Groups</a></li>
                <li><a href="/front">Log Out</a></li>
              </ul>
            </div>
            
          
          
        </span>
      </div>
    </div>
  </nav>
  <br>
  <br>
  <dialog class="dialog-bell">
    <div class="close-btn" >
      <button  class="close-notification">close</button>
    </div>
    <div class="modal-body p-5">
      <h2>Notifications</h2>
      <%if(notifications.length > 0){%>
        
        <%notifications.forEach(function(Item){%>
          
            <ul>
              <%if(Item.pay==0){%>
              <li><h3>please pay the <%= Item.billName %> bill of amount <%= Item.amount %> </h3></li>
              <%}%>
            </ul>
       
        
        <%});%>
    
        
        <%}else{%>
        
         <ul>
          <li><h3>No Notification </h3></li>
        </ul>
     
      <% } %>
     
          
      
      
    </div>
  </dialog>
    <dialog class="recurring">
      <div class="close-btn" >
      <button  class="close">close</button>
    </div>

        <form action="/add" method="POST">
            <div>
                <label for="recurring bill">Recurring Bill:&nbsp;&nbsp;&nbsp;</label>
                <input type="text" name="recurringBillName" id="recurring bill">
            </div>
            <div>
                <label for="amount">Amount:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="text" name="amount" id="amount">
            </div>
            <div>
                <label for="recurring date">Recurring Date:</label>
            <input type="datetime" name="recurringdate" id="amount">
            </div>
            <br>
            <div class="submit-btn">
                <input type="submit" value="submit" class="close">  
            </div>
           
            
            
        </form>
      
      </dialog>
      <button class="recurring_bills">add recurring bills</button>
      <br>
      <br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">BillName</th>
      <th scope="col">Amount</th>
      <th scope="col">Reccuring Date</th>
    </tr>
  </thead>
  <tbody>
    
      <%if(locals.newList){%>
        
      <%newList.forEach(function(item){%>
        <form action="/del" method="POST">
      <tr>
          <th scope="row"><%=count++%></th>
          <td><%= item.billName %></td>
          <td><%= item.amount %></td>
          <td><%= item.recurringDate %></td>
          
          <td>  <button type="submit" id="remove" name="trash" class="btn btn-primary" value="<%= item._id %>" data-toggle="button" aria-pressed="false" autocomplete="off" onChange="this.form.submit()">
            Remove
          </button></td>
          <td>  <button type="submit" id="paid" name="pay" class="btn btn-primary" value="<%= item._id %>" data-toggle="button" aria-pressed="false" autocomplete="off" onChange="this.form.submit()">
            Pay
          </button></td>
          
        </tr>
      
      </form>
      <%});%>
  
      
      <%}%>
    
  </tbody>
  </table>
  
  <script>
    const dialog = document.querySelector(".recurring");
const showButton = document.querySelector(".recurring_bills");
const closeButton = document.querySelector(".close");
const closeNotificationButton = document.querySelector(".close-notification");
const belldialog=document.querySelector('.dialog-bell');
const bellButton = document.querySelector('.third');
const belldialogClose=document.querySelector('.dialog-bell');
bellButton.addEventListener('click', () => {
  belldialog.showModal();
  noti

});
closeNotificationButton .addEventListener('click', () => {
  belldialog.close();


});
showButton.addEventListener("click", () => {
  dialog.showModal();
});


closeButton.addEventListener("click", () => {
  dialog.close();
});

  </script>
    <script src="index.js" charset="UTF-8"></script>
    <script>
      function toggleSidebar() {
  var sidebar = document.getElementById('sidebar');
  sidebar.classList.toggle('active');  }

    </script>
</body>
</html>